defaults REDIS
  mode tcp
  timeout connect 4s
  timeout server 15s
  timeout client 15s
# timeout tunnel 365d

# 레디스 마스터 설정
frontend ft_redis_master
  bind *:5000 name redis
  default_backend bk_redis_master

backend bk_redis_master
  option tcp-check
  tcp-check send PING\r\n
  tcp-check expect string +PONG
  tcp-check send info\ replication\r\n
  tcp-check expect string role:master
  tcp-check send QUIT\r\n
  tcp-check expect string +OK
  server R1 redis-node1:7001 check inter 1s
  server R2 redis-node2:7001 check inter 1s
  server R3 redis-node3:7001 check inter 1s

# 레디스 슬레이브 설정
frontend ft_redis_slave
  bind *:5001 name redis
  default_backend bk_redis_slave

backend bk_redis_slave
  option tcp-check
  tcp-check send PING\r\n
  tcp-check expect string +PONG
  tcp-check send info\ replication\r\n
  tcp-check expect string role:slave
  tcp-check send QUIT\r\n
  tcp-check expect string +OK
  server R1 redis-node1:7002 check inter 1s
  server R2 redis-node2:7002 check inter 1s
  server R3 redis-node3:7002 check inter 1s

listen http-in
  bind *:6999 # 관리자페이지의 아이피:포트
  mode http
  balance
  timeout client 5000
  timeout connect 4000
  timeout server 30000

  #This is the virtual URL to access the stats page
  stats uri /haproxy_stats

  #Authentication realm. This can be set to anything. Escape space characters with a backslash.
  stats realm HAProxy\ Statistics

  #The user/pass you want to use. Change this password!
  # 아이디:패스워드
  stats auth myroot:password

  #This allows you to take down and bring up back end servers.

  #This will produce an error on older versions of HAProxy.
  stats admin if TRUE
